.log-in-menu {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-self: center;
  background-color: #f1f1f1;
  padding: 10px 20px 10px 20px;
  gap: 10px;
  border-radius: 10px;
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
}

.log-in-submit-button {
  margin-top: 5px;
  padding: 10px;
  align-self: center;
  background-color: #f1b448;
  border-radius: 10px;
  color: #fafafa;
}

.log-in-submit-button:hover {
  cursor: pointer;
  background-color: #f3aa2d;
}

.close-button {
  align-self: flex-end;
  padding: 0px;
  color: #ef4444;
}

.close-button:hover {
  cursor: pointer;
}

.log-in-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-self: center;
  gap: 5px;
}

.log-in-error {
  font-size: 14px;
  color: #ef4444;
}
