body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  width: 100%;
  margin: 0px;
  background-color: #ffffff;
  color: #09090b;
  font-family: 'Roboto Slab', serif;
}

ul {
  list-style: none;
  margin: 0px;
  padding: 0px;
}
